<aside class="fixed h-screen p-4 bg-purple-500 top-16 w-80">
  <ul>
    <li [routerLink]="'/'" class="p-2 font-bold text-black cursor-pointer" routerLinkActive="bg-purple-200 border-l-4 border-purple-400 border-b-4 border-purple-400" [routerLinkActiveOptions]="{exact:true}">All</li>
    <li [routerLink]="'/Important'" class="p-2 font-bold text-black" routerLinkActive="bg-purple-200 border-l-4 border-purple-400 border-b-4 border-purple-400">Important</li>
    <li [routerLink]="'/Completed'" class="p-2 font-bold text-black" routerLinkActive="bg-purple-200 border-l-4 border-purple-400 border-b-4 border-purple-400">Complete</li>
  </ul>
</aside>
